.main_container {
  width: 320px;
  border-radius: 24px;
  padding: 24px;
  display: grid;
  gap: 24px;
}

.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
}

.description {
  width: 117;
  height: 20;
  gap: 12px;
}

.main_container:hover {
  background-color: #d6f379;
  color: #000;
}

.image_container {
  color: gray;
}
